@CHARSET "UTF-8";

/*
    YUI Reset stylesheet, see http://developer.yahoo.com/yui/reset/
*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td {
	margin:0;
	padding:0;
}
table {
	border-collapse:collapse;
	border-spacing:0;
}
fieldset,img {
	border:0;
}
address,caption,cite,code,dfn,em,strong,th,var {
	font-style:normal;
	font-weight:normal;
}
ol,ul {
	list-style:none;
}
caption,th {
	text-align:left;
}
h1,h2,h3,h4,h5,h6 {
	font-size:100%;
	font-weight:normal;
}
q:before,q:after {
	content:'';
}
abbr,acronym { border:0;
}


body {
    background-image: url('http://farm2.staticflickr.com/1380/820396208_ab70198b2d_o.jpg');
    background-color: #000;
    color: #fff;
    
    font-family: Geneva,Arial,Helvetica,sans-serif;
    font-size: 18px;
}

div.body {
    width:700px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
}

div.body div.contact div.mugshot img {
    width: 200px;
}

div.body div.contact div.mugshot {
    width: 200px;
    height: 200px;
    padding: 5px;
    border: 1px solid #fff;
    float: left;
    margin-right:20px;
}