@CHARSET "UTF-8";

/*
    YUI Reset stylesheet, see http://developer.yahoo.com/yui/reset/
*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td {
	margin:0;
	padding:0;
}
table {
	border-collapse:collapse;
	border-spacing:0;
}
fieldset,img {
	border:0;
}
address,caption,cite,code,dfn,em,strong,th,var {
	font-style:normal;
	font-weight:normal;
}
ol,ul {
	list-style:none;
}
caption,th {
	text-align:left;
}
h1,h2,h3,h4,h5,h6 {
	font-size:100%;
	font-weight:normal;
}
q:before,q:after {
	content:'';
}
abbr,acronym { border:0;
}


body {
    background-image: url('http://farm2.staticflickr.com/1380/820396208_ab70198b2d_o.jpg');
    background-color: #000;
    color: #fff;
    
    font-family: Geneva,Arial,Helvetica,sans-serif;
    font-size: 18px;
}

div.body {
    width:700px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
}

div.body a {
    font-weight: bold;
    text-decoration: none;
    color: #aaa;
}

div.body a:hover {
    color: #fff;
}

div.contact h1 {
    font-size: 1.8em;
    font-weight: bold;
    text-decoration: none;
}
div.contact h1 a{
    color: #fff;
    text-decoration: none;
}

div.body div.contact div.jobtitle {
    font-style: italic;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 0.8em;
}

div.body div.contact div.email,
div.body div.contact div.website {
    font-size: 0.8em;
}

div.body div.contact div.description {
    margin-top: 10px;
    padding: 5px;
    font-size: 0.8em;
}

div.body div.contact div.description p {
    margin-bottom: 10px;
    
}

div.body div.contact div.mugshot img {
    width: 200px;
}

div.body div.contact div.mugshot {
    width: 200px;
    height: 200px;
    padding: 5px;
    border: 1px solid #fff;
    float: left;
    margin-right:20px;
}

div.body div.highlighted_projects div.title {
    margin-top: 20px;
}

div.body div.highlighted_projects div.title h2 {
    font-size: 1.2em;
    font-weight: bold;
}

div.body div.highlighted_projects div.title,
div.body div.contact,
div.body div.highlighted_projects div.more {
    padding: 5px;
    background-color: #333;
    background-color: rgba(51,51,51,0.8);
    color: #fff;
    padding-right: 10px;
    border: 2px solid #444;
}

div.body div.highlighted_projects div.more {
    margin-top: 20px;
    text-align: right;
    font-weight: bold;
}

div.body div.highlighted_projects div.project {
    padding: 5px;
    background-color: #111;
    background-color: rgba(17,17,17,0.8);
    color: #fff;
    padding-right: 10px;
    border: 2px solid #222;
    margin-top: 20px;
}

div.body div.highlighted_projects div.project h3 {
    margin-bottom: 10px;
}

div.body div.highlighted_projects div.project div.links {
    margin-top: 10px;
    text-align: right;
    font-size: 0.8em;
}

div.body div.highlighted_projects div.project p {
    font-style: italic;
}

div.body div.shares {
    margin-top: 20px;
}

div.body div.shares div.fb-like {
	width: 60px;
}

div.body div.shares div.shareblob {
    float: left;
    margin-top: 20px;
    width: 60px;
}